.webDevBackground {
  text-align: center;
  font-size: 3em;
  margin-bottom: 10vh;
  transform: translateX(-30vw);
  color: rgba(255, 255, 255, 0.6);
}
.nameBackground {
  text-align: center;
  font-size: 1em;
  transform: translateX(-30vw);
  color: rgba(255, 255, 255, 0.6);
}
