a {
    all: initial;
    cursor: pointer;
  }
  
  .slideTracker {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 30%;
  right: 2%;


  }
  
  .slides {
    width: 5px;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: grey; /* Default background color */
  }
  
  .choosenSlide {
    background-color: white;
    box-shadow: 0px 0px 10px 5px #b4d4d5b7;
    height: 130px;
    animation: growSlide 0.3s ease-in-out; /* Use CSS animation for growing */
  }
  
  .shrinkingSlide {
    animation: shrinkSlide 0.3s ease-in-out; /* Use CSS animation for shrinking */
  }
  
  @keyframes growSlide {
    from {
      height: 40px;
    }
    to {
      height: 130px;
    }
  }
  
  @keyframes shrinkSlide {
    from {
      height: 130px;
    }
    to {
      height: 40px;
    }
  }
  