.webDev {
  text-align: center;
  font-size: 6em;
  margin-bottom: 10vh;
  animation: fontSizeChangeWebDev 1s ease-in-out 2s forwards;
}
.name {
  text-align: center;
  font-size: 3em;
  animation: fontSizeChangeName 1s ease-in-out 2s forwards;
}

@keyframes fontSizeChangeWebDev {
  0% {
    font-size: 6em;
    margin-bottom: 10vh;
  }
  50% {
    transform: translateX(42vw);
  }
  100% {
    position: fixed;
    right: 3vw;
    font-size: 2em;
    text-align: right;
    top: 30vh;
  }
}
@keyframes fontSizeChangeName {
  0% {
    font-size: 3em;
  }
  50% {
    transform: translateX(42vw);
  }
  100% {
    position: fixed;
    top: 30vh;
    right: 3vw;
    font-size: 1em;
    text-align: right;
    margin-top: 5vh;
  }
}
