.welcomeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #06bcc1;
  height: 90vh;
  padding-bottom: 10vh;
  color: white;
  align-items: center;
}

.textContainer {
  display: inline-block;
  margin-top: 10vh;
}

.webDev {
  text-align: center;
  font-size: 6em;
  margin-bottom: 10vh;
  animation: fontSizeChangeWebDev 1s ease-in-out 2s forwards;
}
.name {
  text-align: center;
  font-size: 3em;
  animation: fontSizeChangeName 1s ease-in-out 2s forwards;
}

.leftItem {
  padding-top: 10vh;
  padding-bottom: 10vh;
  align-items: end;
}

@keyframes fontSizeChangeWebDev {
  0% {
    font-size: 6em;
  }
  100% {
    font-size: 3em;
    transform: translateX(-30vw);
  }
}
@keyframes fontSizeChangeName {
  0% {
    font-size: 3em;
  }
  100% {
    font-size: 1em;
    transform: translateX(-30vw);
  }
}
@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 600px) {
  .moveToLeft {
    transform: translateX(-20vw);
  }
}
@media only screen and (max-width: 350px) {
}
