.welcomeWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #06bcc1;
  height: 90vh;
  padding-bottom: 10vh;
  color: white;
  align-items: center;
}

.textContainer {
  display: inline-block;
  margin-top: 10vh;
}


.leftItem {
  padding-top: 10vh;
  padding-bottom: 10vh;
  align-items: end;
}


@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 600px) {
  .moveToLeft {
    transform: translateX(-20vw);
  }
}
@media only screen and (max-width: 350px) {
}
