.welcomeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: #06bcc1;
    height: 90vh;
    padding-bottom: 10vh;
    color: white;
  }
  
  h1 {
    margin: 0;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  
  .arrowButtonContainer {
    display: flex;
    justify-content: center;
    /* background-color: #0e242d; */
    padding: 10px; 
  }
  
  .arrow {
    box-sizing: border-box;
    height: 2.5vw;
    width: 2.5vw;
    border-style: solid;
    border-color: pink;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
  }
  
  .arrow:hover {
    border-bottom-width: 4px;
    border-right-width: 4px;
  }
  