.openMenuWrapper {
  position: fixed;
  height: 100vh;
  width: 20%;
  top: 0;
  right: 0;
  background-color: #0e242d;
  /* z-index: 1; */
}

.list {
  padding-top: 5vh;
}
.listItem {
  cursor: pointer;
  width: 80%;
  margin: auto;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
  padding: 5%;
  margin-top: 2vh;
}
.listItem:hover {
  border: 1px solid white;
  color: white;
}
.activeListItem {
  border: 1px solid white;
  color: white;
}

@media only screen and (max-width: 1400px) {
  .menuButtonOpened {
    left: 15%;
  }
}
@media only screen and (max-width: 1000px) {
  .openMenuWrapper {
    width: 30%;
  }
  .menuButtonOpened {
    left: 20%;
  }
}
@media only screen and (max-width: 600px) {
  .openMenuWrapper {
    width: 100%;
  }
  .menuButtonOpened {
    left: 85%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  width: 40px;
}

.bar {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  height: 5px;
  margin: 5px 0;
  transition: none;
}

.open {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  height: 2.5px;
  margin: 4px 0;
  transform-origin: center;
  transition: transform 0.3s ease-in-out, 0.3s ease-in-out;
}

.bar:nth-of-type(1) {
  width: 100%;
  animation: backgroundAnimation 0.3s ease-in-out, transformAnimation1Backwards 0.3s ease-in-out;
}

.bar:nth-of-type(2) {
  width: 50%;
  margin-left: 50%;
  animation: backgroundAnimation 0.3s ease-in-out, transformAnimation2Backwards 0.3s ease-in-out;
}

.bar:nth-of-type(3) {
  width: 75%;
  margin-left: 25%;
  animation: backgroundAnimation 0.3s ease-in-out, transformAnimation3Backwards 0.3s ease-in-out;
}

.open:nth-of-type(1) {
  width: 100%;
  background: transparent;
  transform: translateY(11px) translateZ(10px) rotateZ(45deg);
}

.open:nth-of-type(2) {
  transform: rotateZ(45deg);
  animation: backgroundAnimation 0.3s ease-in-out, transformAnimation2 0.3s ease-in-out;
}

.open:nth-of-type(3) {
  margin-left: 0%;
  transform: rotateZ(-45deg) translate(7px, -7px);
  animation: backgroundAnimation 0.3s ease-in-out, transformAnimation3 0.3s ease-in-out;
}

@keyframes backgroundAnimation {
  0% {
    background: rgba(255, 255, 255, 0.7);
  }
  100% {
    background: transparent;
  }
}

@keyframes transformAnimation2 {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(45deg);
  }
}

@keyframes transformAnimation3 {
  0% {
    transform: rotateZ(0) translate(0, 0);
  }
  100% {
    transform: rotateZ(-45deg) translate(7px, -7px);
  }
}
@keyframes transformAnimation1Backwards {
  0% {
    background: transparent;
    transform: translateY(11px) translateZ(10px) rotateZ(45deg);
  }
  100% {
    transform: translateY(0) rotateZ(0deg);
  }
}
@keyframes transformAnimation2Backwards {
  0% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(0);
  }
}

@keyframes transformAnimation3Backwards {
  0% {
    transform: rotateZ(-45deg) translate(7px, -7px);
  }
  100% {
    transform: rotateZ(0) translate(0, 0);
  }
}
